# Visualization for proposal video

In [57]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

##  Clean Vehicle Data

In [94]:
def build_loc_vehicle(state):
    state = state.lower()
    return '../data/vehicles/vehicles_' + state + '.csv'

In [95]:
loc = build_loc_vehicle('ca')

In [81]:
data_ca = pd.read_csv(loc)

/Users/samaygarg/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [82]:
data_ca.head()

,Vehicle ID,County GEOID,Registration Valid Date,DMV ID,DMV Snapshot,Registration Expiration Date,State Abbreviation,Geography,Vehicle Name
0,CA-002-03597\r,06099,2011-01-01,2,CA Registration Data from CA (12/31/2011),NaN,CA,County,Chevrolet Volt
1,CA-002-03598\r,06105,2011-01-01,2,CA Registration Data from CA (12/31/2011),NaN,CA,County,Nissan Leaf
2,CA-002-03599\r,06103,2011-01-01,2,CA Registration Data from CA (12/31/2011),NaN,CA,County,Chevrolet Volt
3,CA-002-03600\r,06099,2011-01-01,2,CA Registration Data from CA (12/31/2011),NaN,CA,County,Tesla Roadster
4,CA-002-03601\r,06099,2011-01-01,2,CA Registration Data from CA (12/31/2011),NaN,CA,County,Tesla Roadster

In [83]:
data_small = data_ca[['County GEOID', 'Registration Valid Date', 'Vehicle Name']]
data_small.columns = ['geoid', 'registration', 'vehicle']
data_small.head()

   geoid registration         vehicle
0  06099   2011-01-01  Chevrolet Volt
1  06105   2011-01-01     Nissan Leaf
2  06103   2011-01-01  Chevrolet Volt
3  06099   2011-01-01  Tesla Roadster
4  06099   2011-01-01  Tesla Roadster

In [84]:
def format_geoid(x):
    if type(x) == int:
        return '0' + str(x)
    return x

In [85]:
data_small['year'] = pd.to_datetime(data_small['registration']).dt.year
data_small.drop(columns='registration', inplace=True)

/Users/samaygarg/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/samaygarg/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [86]:
data_small

         geoid                vehicle  year
0        06099         Chevrolet Volt  2011
1        06105            Nissan Leaf  2011
2        06103         Chevrolet Volt  2011
3        06099         Tesla Roadster  2011
4        06099         Tesla Roadster  2011
...        ...                    ...   ...
1913965   6047              Fiat 500e  2019
1913966   6047              Fiat 500e  2019
1913967   6047       Hyundai Ioniq EV  2019
1913968   6047       Hyundai Ioniq EV  2019
1913969   6047  Hyundai Kona Electric  2019

[1913970 rows x 3 columns]

In [87]:
data_small['geoid'] = data_small['geoid'].apply(lambda x: format_geoid(x))

/Users/samaygarg/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [91]:
grouped = data_small.groupby(['year', 'geoid']).count()
grouped.head(25)

            vehicle
year geoid
2010 06001       20
     06005        1
     06013       10
     06019        2
     06023        2
     06029        1
     06033        1
     06037      360
     06041       15
     06053        1
     06055        4
     06059       38
     06061        5
     06065        4
     06067        6
     06069        1
     06071        4
     06073       29
     06075       24
     06077        1
     06079        1
     06081       50
     06083       11
     06085       93
     06087        6

In [92]:
grouped.shape

(541, 1)

In [93]:
vehicles_clean = grouped.copy()

##  Clean Education Data

In [97]:
def build_loc_ed(year):
    year = str(year)
    return '../data/education/education_' + year + '.csv'

In [99]:
loc = build_loc_ed(2017)
data_2017 = pd.read_csv(loc)

/Users/samaygarg/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (2,6,10,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,66,70,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,160,161,164,165,168,169,172,173,176,177,180,181,182,186,190,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,222,226,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,258,262,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,294,298,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,330,331,334,335,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,366,367,370,371,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,402,403,406,407,410,411,414,415,418,419,422,423,426,427,430,431,434,435,438,439,442,443,446,447,450,451,454,455,458,459,462,463,466,467,470,471,474,475,478,479,482,483,486,487,490,491,494,495,498,499,502,503,506,507,510,511,514,515,518,519,522,523,526,527,530,531,534,535,538,539,542,543,546,547,550,551,554,555,558,559,562,563,566,567,570,571,574,575,578,579,582,583,586,587,590,591,592,593,594,595,598,599,602,603,604,605,606,607,610,611,614,618,622,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,652,653,656,657,660,661,664,665,668,669,672,673,676,677,680,681,684,685,688,689,692,693,696,697,698,699,702,703,706,707,722,723,726,727,730,731,734,735,738,739,742,743,746,747) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)